<div class="container">
    <div *ngFor="let note of messages" class="card-contain">
        <div class="items">
            <mat-card class="card" [style.background]="note.color">
                <a mat-list-item>
                    <!-- <button  mat-flat-button></button> -->
                    <img class="pinbutton" src="../../../assets/icons/download.svg" width="24px"
                            height="24px">
                </a>
                    <mat-card-title class="title" (click)="openDialog(note)">{{note.title}}</mat-card-title>
                    <mat-card-content>
                        <p class="description" (click)="openDialog(note)">{{note.description}}</p>
                        <!-- <div>
                            {{note.notesID}}
                        </div> -->
                    </mat-card-content>
                    <div class="icons">
                    <app-icons [notedata]="note" (refresh)="receiveTrashMessage($event)"></app-icons>
                </div>
            </mat-card>
        </div>
    </div>
</div>