<div class="container">
    <div *ngFor="let note of messages" class="card-contain">
        <div class="items">
            <mat-card class="card">
                <a mat-list-item>
                    <button class="pinbutton" mat-flat-button><img src="../../../assets/icons/download.svg" width="24px"
                            height="24px"></button>
                </a>
                    <mat-card-title class="title" (click)="openDialog(note)">{{note.title}}</mat-card-title>
                    <mat-card-content>
                        <p class="description" (click)="openDialog(note)">{{note.description}}</p>
                        <!-- <div>
                            {{note.notesID}}
                        </div> -->
                    </mat-card-content>
                    <div class="icons">
                    <app-icons [notedata]="note"></app-icons>
                </div>
            </mat-card>
        </div>
    </div>
</div>